<div class="board">
  <div class="stats-container">
    <div class="top-row">
      <h1>Current player: {{ player }}</h1>
      <button
        class="btn btn-outline-primary new-game-button"
        (click)="newGame()"
      >
        Start a new game
      </button>
    </div>

    <h2 *ngIf="winner">Player {{ winner }} won!</h2>
  </div>

  <main>
    <app-square
      *ngFor="let val of squares; let i = index"
      [value]="val"
      (click)="makeMove(i)"
    >
    </app-square>
  </main>
</div>
